:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent: #2196f3;
  --white-text-color: #ffffff;
  --background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* белый текст #FFFFFF */
/* футер адрес и телефон rgba(255, 255, 255, 0.6) */
/* копирайт rgba(255, 255, 255, 0.4) */
/* акцент #2196F3 */
/* body background #FFFFFF */
/* header background rgba(0, 0, 0, 0.12) */
/* наша команда #F5F4FA */
/* клиенты #E5E5E5 */

/* Hero */
.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url('../images/header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--white-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

.button {
  border-radius: 4px;
  padding: 10px 32px;
  display: flex;
  min-width: 200px;

  background-color: var(--accent);
  color: var(--white-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.section-title {
  margin-top: 0px;
  margin-bottom: 50px;

  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.section-title-padding {
  margin: 0;
  padding-top: 94px;
  padding-bottom: 50px;

  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

/* Section Benefits*/

.benefits {
  display: flex;
  margin-top: 94px;
}

/* .bnft-item {
  width: calc((100% - 90px) / 4);
} */

.item-bnft {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 25px 102px;
}

.benefits .title {
  margin-top: 30px;
  margin-bottom: 10px;

  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.benefits .bnft-item:not(:last-child) {
  margin-right: 30px;
}

.text {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.7;
}

/* Section Work */
.work-list {
  display: flex;
}

.work-list .list:not(:last-child) {
  margin-right: 30px;
}

.work-list .list {
  position: relative;
}

.work-list .title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;

  color: var(--white-text-color);
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.7;
  text-align: center;
  text-transform: uppercase;
}

/* Section Team */
.team {
  background-color: var(--secondary-background-color);
}
.team-list {
  display: flex;
  padding-bottom: 94px;
}

.team-list .member:not(:last-child) {
  margin-right: 30px;
}

.member {
  background: var(--background-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.member .name {
  margin-top: 30px;
  margin-bottom: 10px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list .role {
  margin-top: 0;
  margin-bottom: 16px;

  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.logo-list {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.logo-list .icon-logo:not(:last-child) {
  margin-right: 10px;
}

.icon-logo .icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  cursor: pointer;
  border-radius: 50%;

  transition: all 250ms var(--cubic);
}

.icon-logo .icon:hover,
.icon-logo .icon:focus {
  --color1: var(--white-text-color);
  background-color: var(--accent);
}

/* Clients */
.clients-list {
  display: flex;
}

.link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 175px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: all 250ms var(--cubic);
}

.client-img .link-icon:hover,
.client-img .link-icon:focus {
  --color4: var(--accent);
  border-color: var(--accent);
}

.clients-list .client-img:not(:last-child) {
  margin-right: 30px;
}
